.terraform
.terraform.lock.hcl
examples/*/local.tfvars
examples/*/terraform.tfstate
examples/*/.terraform.tfstate.lock.info
terraform.tfstate
examples/*/kubeconfig.yaml
examples/*/terraform.tfstate.backup
examples/kyma-on-btp-new-sa/subaccount_id.txt
