# Rename this file as `terraform.tfvars` and provide values for the variables

BTP_GLOBAL_ACCOUNT    = ""
BTP_BOT_USER          = ""
BTP_BOT_PASSWORD      = ""
BTP_CUSTOM_IAS_TENANT = ""

BTP_NEW_SUBACCOUNT_NAME = ""
# one of many available regions (without the `cf-` prefix!). I.e `eu20`
BTP_NEW_SUBACCOUNT_REGION = ""

# Optional. defaults to `azure`; One of: `azure`, `azure-lite`, `aws`, `gcp`
BTP_KYMA_PLAN = ""
# Must match options for given plan; i.e `westeurope` is a valid kyma region for kyma plan `azure`
BTP_KYMA_REGION = ""

# Optional
BTP_KYMA_CUSTOM_ADMINISTRATORS = ""
